

$color-main: #15191b;
$color-accent: #79919b;
$color-accent-darker: #2a3f47;

$color-alt: #f7c174;
$color-alt-darker: #d6a662;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo 2', sans-serif;
    color: $color-accent-darker;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Merriweather Sans', cursive;
    }

    .btn-yellow {
        background-color: $color-alt;
    }

    .text-alt {
        color: $color-accent-darker;
    }

    .bg-alt {
        background-color: $color-alt !important;

        h1, h2, h3, h4, h5, h6 {
            color: $color-accent-darker;
        }
    }

    .bg-fullpage {
        margin: 0;
        padding: 0;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 400px;
        background-color: #face7a;
    
        .alt-color {
            background-color: #88ffec;
        }
    
        .section-title {
            margin-top: 25px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-alt-darker;
    }
    
    .bg-spacer {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        min-height: 400px;
    }

    .display-1 {
        font-style: normal;
    }
    
    .bg-img1 {
        background-image: url('/assets/img/m/monte_11.jpg');
    }
    .bg-img2 {
        background-image: url('/assets/img/m/monte_02.jpg');
    }
    .bg-img3 {
        background-image: url('/assets/img/m/monte_05.jpg');
    }
    .bg-img4 {
        background-image: url('/assets/img/m/monte_09.jpg');
    }
    .bg-img5 {
        background-image: url('/assets/img/m/monte_07.jpg');
    }

    
    @media screen and (max-width: 768px) {
        .bg-img1 {
            background-image: url('/assets/img/m/monte_s_11.jpg');
        }
        .bg-img2 {
            background-image: url('/assets/img/m/monte_s_02.jpg');
        }
        .bg-img3 {
            background-image: url('/assets/img/m/monte_s_05.jpg');
        }
        .bg-img4 {
            background-image: url('/assets/img/m/monte_s_09.jpg');
        }
        .bg-img5 {
            background-image: url('/assets/img/m/monte_s_07.jpg');
        }

    }   
}


