html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo 2', sans-serif;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
}

.bg-spacer {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 400px;
}

.bg-img1 {
    background-image: url('/assets/img/m/monte_01.jpg');
}
.bg-img2 {
    background-image: url('/assets/img/m/monte_02.JPG');
}
.bg-img3 {
    background-image: url('/assets/img/m/monte_03.JPG');
}
.bg-img4 {
    background-image: url('/assets/img/m/monte_04.JPG');
}
.bg-img5 {
    background-image: url('/assets/img/m/monte_05.JPG');
}
.bg-img6 {
    background-image: url('/assets/img/m/monte_06.JPG');
}
.bg-img7 {
    background-image: url('/assets/img/m/monte_07.JPG');
}

@media screen and (max-width: 768px) {
    .bg-img1 {
        background-image: url('/assets/img/m/monte_s_01.jpg');
    }
    .bg-img2 {
        background-image: url('/assets/img/m/monte_s_02.JPG');
    }
    .bg-img3 {
        background-image: url('/assets/img/m/monte_s_03.JPG');
    }
    .bg-img4 {
        background-image: url('/assets/img/m/monte_s_04.JPG');
    }
    .bg-img5 {
        background-image: url('/assets/img/m/monte_s_05.JPG');
    }
    .bg-img6 {
        background-image: url('/assets/img/m/monte_s_06.JPG');
    }
    .bg-img7 {
        background-image: url('/assets/img/m/monte_s_07.JPG');
    }
}

.bg-fullpage {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
    background-color: #face7a;

    .alt-color {
        background-color: #88ffec;
    }

    .section-title {
        margin-top: 25px;
    }
}